<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{screen.error.page.title.accessdenied}">Error - 401</title>

    <link type="text/css" rel="stylesheet" th.href="@{/css/bootstrap.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th.href="@{/css/font-awesome.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th.href="@{/css/custom.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th.href="@{/css/cas.css}" th:remove="tag" />
</head>

<body>
    <main layout:fragment="content" role="main">
        <div class="col-md-4 col-md-offset-4 col-xs-12 center">
            <div class="alert alert-danger">
                <h2 th:utext="#{screen.error.page.accessdenied}">Access Denied</h2>
                <p th:utext="#{screen.error.page.permissiondenied}">You do not have permission to view this page.</p>
                <p><a class="alert-link" th:href="@{/login}" th:utext="#{screen.error.page.loginagain}">Login Again</a></p>
            </div>
        </div>
    </main>
</body>
</html>
