<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">


<html>

    <head>
        <title>Acentic Cloud Services</title>
        <link href='../../../static/css/styles.css' rel='stylesheet' type='text/css'>
    </head>

<body>

    <div class="login_wrapper">

        <h1 class="text-center">
            <img src="../../../static/images/cloud.png" alt="Cloud Symbol" /><img src="../../../static/images/acentic_logo.png" alt="Acentic Cloud Services" style="width: 25%; height: auto; margin: 5px 5px 10px 5px;" />
        </h1>
        <div class="clearfix"></div>

        <section class="login_content animated">

            <h1 id="error" class="text-center">Sorry, an error has occurred.</h1>

            <p id="excuse">
                We track these errors automatically, but if the problem persists feel free to <a href="mailto:technical.support@acentic.com">contact us</a>.
            </p>

        </section>
    </div>
</body>
