header .container {
    margin-top: 5%;
}
header #logo {
    width: 9%; 
    height: auto;
    margin: 0 5px 10px 5px;
}
.login_wrapper,
.login_wrapper section {
    margin: 0 auto;
    min-height: auto;
    top: 0;
}

@media (min-width: 320px) and (max-width: 568px) {
    header #logo {
        width: 30%;
    }
}
@media (min-width: 375px) and (max-width: 667px) {
    header #logo {
        width: 15%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    header i {
        font-size: 36px;
    }
    header #logo {
        width: 20%;
        margin: 0 5px 20px 5px;
    }
}