<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Login Form Fragment</title>
    
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/custom.min.css}" th:remove="tag" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/cas.css}" th:remove="tag" />
</head>
<body>
<div th:fragment="loginform" class="container login_wrapper">

    <section class="login_content animated" role="complementary">
        <form id="submitForm" method="post" htmlEscape="true">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
            <input type="hidden" name="lt" th:value="${loginTicket}" />
            <input type="hidden" name="_eventId" value="submit" />

            <input id="username" name="username" type="text" autocomplete="username"
                th:attr="placeholder=#{screen.login.username}"
                class="form-control" aria-label="username" tabindex="1" required />

            <input id="password" name="password" type="password" autocomplete="current-password"
                th:attr="placeholder=#{screen.login.password}"
                class="form-control" aria-label="password" tabindex="2" required />
        
            <button type="submit" class="btn btn-default" onclick="$('#submitForm').submit();"
                th:text="#{screen.login.submit}">
                    Submit
            </button>

            <div class="clearfix"></div>
            <br/>

            <a th:href="@{{acs}/public/doUserWantResetPassword(acs=#{acs.server.address})}"
            class="col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1 center red-text">Passwort vergessen</a>
            <!--/*
            <a href="javascript:void(0);" onclick="animateCss();" th:text="#{screen.login.lostpassword}">Lost Password</a>
            */-->

        </form>

    </section>
    <!--/*
    <section class="login_content" role="complementary">
        <form id="resetPasswordForm" method="post" htmlEscape="true">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="resetPassword"/>

            <p th:utext="#{screen.resetpwd.explain}">Enter email address below.</p>

            <input id="email" name="email" type="email"
                th:attr="placeholder=#{screen.resetpwd.email}"
                class="form-control" aria-label="email" maxlength="100" size="50" required />

            <button type="submit" class="btn btn-default" onclick="$('#resetPasswordForm').submit();"
                th:text="#{screen.resetpwd.submit}">
                    Reset Password
            </button>

            <div class="clearfix"></div>
            <br/>
            <a href="javascript:void(0);" onclick="animateCss();" th:text="#{screen.login.submit}">Login</a>
        </form>
    </section>
    */-->

</div>

</body>
</html>
