    <link rel="icon" type="image/svg+xml" sizes="any" th:href="@{/favicon.svg}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="manifest" crossorigin="use-credentials" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" color="#703566" th:href="@{/safari-pinned-tab.svg}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}" media="screen" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/custom.min.css}" media="screen" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/cas.css}" media="screen" />